<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probando</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>
    <h1>Titulo</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, repudiandae architecto? Itaque ipsam nulla unde amet blanditiis assumenda labore nihil tempora recusandae perspiciatis magnam quas quia, similique voluptate, distinctio consequuntur.</p>
    <p class="parrafo-destacado">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, repudiandae architecto? Itaque ipsam nulla unde amet blanditiis assumenda labore nihil tempora recusandae perspiciatis magnam quas quia, similique voluptate, distinctio consequuntur.</p>
    
    <h2>texto en h2</h2>
    <img src="/img/centinela.jpg">
    <img src="/img/iron man.jpg" >
    <img src="/img/wolverine.jpg">


    <a href="https://www.google.com/search?client=firefox-b-d&q=color+picker">enlace a una url</a>
</body>
</html>