<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica integradora de express</title>
</head>
<body>
    <h1>Hi World!</h1>
    <h2>Lorem ipsum</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium fugit vel optio molestias minima corrupti quo provident vero ea ullam. Obcaecati quae aut veritatis, quis reiciendis eveniet quos exercitationem eligendi.</p>
</body>
</html>